@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* chrom browser */
    .scrollbar-hide::-webkit-scrollbar{
        display: none;
    }
    /* firefox */
    .scrollbar-hide{
        scrollbar-width: none;
    }
    /* .scrollbar-hide::-webkit-scrollbar-track{
        background: transparent;
    }
    .scrollbar-hide::-webkit-scrollbar-thumb{
        background: transparent;
    } */
}